body {
    font-family: 'Nunito', sans-serif;
    background-color: #0081C9;
    color: white;
}

#verificador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 20px;
}

input[type="number"],
select {
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #86E5FF;
    color: #0081C9;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5BC0F8;
}

#resultado {
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    label {
        font-size: 18px;
    }

    input[type="number"],
    select {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 18px;
    }

    #resultado {
        font-size: 16px;
    }
}
